@font-face {
  font-family: "Latina-Heavy";
  src: url(../../assets/fonts/Latina-Heavy.woff2) format("woff2");
}

@font-face {
  font-family: "Latina-Medium";
  src: url(../../assets/fonts/Latina-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Latina-Light";
  src: url(../../assets/fonts/Latina-Light.woff2) format("woff2");
}
