$animation-duration: 0.4s;

@mixin label-active() {
  font-size: 0.75rem;
  transform: translateY(-14px);
}

.form {
  margin: 0 auto;
  width: 60%;

  @include desktop {
  }

  &__fieldset {
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 5px;
    margin: 50px auto 100px;
    padding: 100px 100px 30px;
  }

  &__field {
    @include clearfix();
    margin-bottom: 20px;
    position: relative;

     &--is-active {
      .form__control {
        &::after {
          transform: scaleX(150);
        }
      }
      .form__label {
        color: $gray;
        @include label-active();
      }
    }
    &--is-filled {
      .form__label {
        @include label-active();
      }
    }
  }

  &__control {
    position: relative;
    
    &::after {
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      transform: scaleX(0);
      transition: all $animation-duration;
      width: 1%;
    }
  }

  &__label {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    transition: all $animation-duration;

        &--dropmenu {
          position: unset;
        }
  }

  &__input {
    appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 3px solid $gray;
    margin-bottom: 15px;
    outline: 0;
    padding: 0 12px 10px 12px;
    width: 100%;
  }

  &__wrap-dropmenu {
    display: flex;
    margin-top: 20px;
  }

  &__dropmenu {
    appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 3px solid $gray;

    font-size: 1.125rem;
    margin-bottom: 15px;
    outline: 0;
    padding: 0 12px 10px 12px;
    width: auto;

    &--bday,
    &--bmonth {
      flex: 1;
      margin-right: 20px;
    }

    &--byear {
      flex: 2;
    }
  }

  &__button {
    @include button($dark-gray, $black, $gray, $black);
    @include display-flex-center();
    margin: 50px auto 0;
    padding: 15px 20px;
    font-weight: $font-weight-medium;
  }
}
