.nav-header {
  bottom: 20px;
  max-width: calc(100% - 230px);
  position: absolute;
  right: 30px;
  width: 680px;

  @include mobile {
    margin-bottom: 40px;
  }

  &__list {
    @include display-flex-between();
    @include unstyled-list();
    align-items: center;
    height: 100%;
    margin: 0 auto;
  }

  &__item {
    font-size: .85rem;
    text-transform: uppercase;
  }

  &__link {
    color: $gray;

    &:hover {
      text-decoration: underline;
    }
  }
}
