@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.hero {
  align-items: center;
  background: url(../../assets/images/hero-bg-mobile.png) no-repeat center
    center;
  background-size: cover;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 480px;
  justify-content: center;
  text-align: center;
  width: 100%;

  @include respond-to(tablet) {
    background: url(../../assets/images/hero-bg.png) no-repeat center center;
  }

  &--coupon {
    padding-bottom: 275px;
    position: absolute;
    top: 70px;
  }

  &--info {
    @include respond-up-to(tablet) {
      padding-bottom: 275px;
      position: absolute;
      top: 70px;
    }
  }

  &--register {
    @include respond-up-to(tablet) {
      background: #0fb969 url(../../assets/images/register-mobile.png) no-repeat
        center center;
      background-size: contain;
      height: 370px;
      position: absolute;
      top: 70px;
    }

    @include respond-to(tablet) {
      background: #0fb969 url(../../assets/images/register.png) no-repeat top
        center;
      background-size: 100%;
      height: auto;
    }
  }

  &__title {
    font-family: $Latina-Bold;
    margin-bottom: 20px;

    @include respond-up-to(tablet) {
      font-size: 30px;
      margin-top: 60px;
      padding-left: 15px;
      padding-right: 15px;
    }

    @include respond-to(tablet) {
      font-size: 36px;
    }
  }

  &__text {
    font-family: $font-text;
    margin-bottom: 20px;
    width: 300px;

    @include respond-to(tablet) {
      margin-bottom: 30px;
    }
  }

  & .link {
    background: $magenta;
    color: $white;

    & .link__arrow {
      display: none;
    }
  }

  &-ranking {
    align-items: center;
    background: url(../../assets/images/hero-bg-mobile.png) no-repeat center
      center;
    background-size: cover;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 480px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: 100%;

    @include respond-to(tablet) {
      background: url(../../assets/images/hero-bg.png) no-repeat center center;
    }

    &__shopping {
      color: $light-green;
      margin-bottom: 0;
    }

    &__title {
      font-family: $Latina-Bold;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    &__text {
    }

    &__box {
      align-items: baseline;
      background: $white;
      border-radius: 50px;
      color: $gray-50;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      margin-top: 10px;
      max-width: 400px;
      padding: 15px;
      text-align: center;
      width: 100%;
    }

    &__timer {
      color: $gray-50;
      font-family: $font-text;
      font-size: 2rem;
      font-weight: 600;
      margin-left: 5px;
      margin-right: 5px;

      @include respond-to(mobile) {
        font-size: 2.8rem;
      }

      &--days {
        color: $magenta;
      }

      &--seconds {
        color: $gray-20;
      }

      & span {
        display: block;
        font-size: 0.85rem;
        margin-top: 5px;
      }
    }

    &__position {
      font-family: $Latina-Bold;
      font-size: 1rem;
      margin: 0 auto;

      @include respond-to(mobile-xl) {
        font-size: 1.2rem;
      }
    }
  }

  &--account {
    @include respond-to(tablet) {
      align-items: flex-start;
      flex-direction: row;
      padding-top: 85px;
    }

    & .hero__title {
      font-size: 24px;

      @include respond-up-to(tablet) {
        margin-top: 20px;
      }

      @include respond-to(tablet) {
        font-size: 24px;
      }
    }

    & .hero__text {
      width: 100%;

      @include respond-up-to(tablet) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    & .hero__credits {
      @include respond-to(tablet) {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
        width: 30%;
      }
    }

    @include respond-to(tablet) {
      & .hero__content {
        text-align: left;
        width: 40%;
      }
    }

    & .link {
      display: inline-block;
      margin: 0;

      @include respond-to(tablet) {
        margin: 0 auto;
      }
    }
  }

  &__credits {
    &-number {
      background-color: $white;
      border-radius: 20px;
      color: $magenta;
      font-family: $font-text;
      font-size: 4rem;
      font-weight: $font-weight-bold;
      // height: 120px;
      margin: 20px 0 0;
      text-align: center;
      min-width: 120px;
      padding: 15px;
      line-height: 60px;

      @include respond-to(tablet) {
        font-size: 8rem;
        //height: 260px;
        margin-top: 0;
        min-width: 300px;
        padding: 30px 15px;
        line-height: 120px;
      }

      & span {
        display: block;
        font-size: 0.9rem;
        font-weight: $font-weight-regular;
        margin: 0 auto;
        line-height: 30px;

        @include respond-to(tablet) {
          font-size: 1.8rem;
          line-height: 70px;
        }
      }
    }

    &-legend {
      text-align: center;
    }
  }
}
